@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a NEW application that
            allows YOU to view and manage the students, courses,
            and instructors for the university
        </p>
    </div>
    <div class="col-md-4">
        <h2>Easy to use interface</h2>
        <p>You can use the links at the top of the website to manage various things. The arrangement is somewhat uniform so once you master one section, you're already familiar with the others.'.</p>
    </div>
    <div class="col-md-4">
        <h2>Collaborative Features</h2>
        <p>The webapp is designed to detect changes while editing, and it will warn you if you attempt to modify something after it has already been changed by another user.</p>
    </div>
    <img src="https://images.pexels.com/photos/356065/pexels-photo-356065.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
</div>
